@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: turquoise;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
