@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  background-color: rgb(130, 85, 85);
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.logo {
  border-radius: 200px;
  height: 150px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  background-color: rgb(130, 85, 85);
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}
