@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: turquoise;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

header {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: center;
}

footer {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: center;
}
